@font-face {
    font-family: 'iconfont';  /* project id 454589 */
    src: url('../assets/icon/iconfont.eot');
    src: url('../assets/icon/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/icon/iconfont.woff') format('woff'),
    url('../assets/icon/iconfont.woff') format('truetype'),
    url('../assets/icon/iconfont.svg#iconfont') format('svg');
}


// @font-face {
//     font-family: 'iconfont';  /* project id 454589 */
//     src: url('//at.alicdn.com/t/font_454589_u9p3v8q7jot4vx6r.eot');
//     src: url('//at.alicdn.com/t/font_454589_u9p3v8q7jot4vx6r.eot?#iefix') format('embedded-opentype'),
//     url('//at.alicdn.com/t/font_454589_u9p3v8q7jot4vx6r.woff') format('woff'),
//     url('//at.alicdn.com/t/font_454589_u9p3v8q7jot4vx6r.ttf') format('truetype'),
//     url('//at.alicdn.com/t/font_454589_u9p3v8q7jot4vx6r.svg#iconfont') format('svg');
//   }

.c-icon{
    font-family: 'iconfont';
    display: inline-block;
    font-size: 30px;
    margin-right: 10px;
}
.c-icon.success{
    color:green;
}
.c-icon.warning{
    color:#f37f1c;
}

.c-icon.error{
    color: red;
}

*{
    padding: 0;
    margin:0;
    text-decoration: none;
}
a{
    color:#208eee;
    cursor: pointer;
}
ul{
    list-style-type: none;
}

.c-right{
    float: right;
}

.c-mb10{
    margin-bottom:10px;
}

.clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}

@main-color:#2890fb;  

.c-head{
    width: 100%;
    height: 50px;
    background: @main-color;
    .title a{
        color:#ffffff;
        float: left;
        line-height: 50px;
        padding-left: 60px;
    }
}

.loginInfo{
    color:#ffffff;
    float: right;
    line-height: 50px;
    margin-right: 15px;
    a{
        color:#ffffff;
    }
}

.c-nav{
    float: left;
    width: 230px;
    border-right: 1px solid #ccc;
    height : 100%;
    position: fixed;
}

.c-contain{
    margin-left: 230px;
    padding: 10px;
}

.c-nav-link{
    display: block;
    width: 100%;
    text-indent: 20px;
    line-height: 40px;
    color:#5a4e4e;
    font-size: 14px;
}
.c-nav-link.active{
    color:@main-color;
    background: #e4e1e1;
}

.c-title-nav{
    display: inline-block;
    font-size: 14px;
    width: 165px;
    height: 32px;
    line-height: 30px;
    text-indent: 10px;
    color: #696565;
    background: #e0efff;
    margin-right: 5px;
    transform: translateY(2px);
    border-bottom: 2px solid #ccc;
    position: relative;
    .nav-close{
        position: absolute;
        top: 5px;
        right: 7px;
        width: 20px;
        height: 20px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
    }
}

.c-title-nav.active{
    color: #3697fb;
    border-bottom: 2px solid #3697fb;
}

.c-control-nav{
    width: 100;
    border-bottom:2px solid #ccc;
    margin: 0px 0 15px 0;
}

//form表单布局
.c-form-field{
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 7px;
    .c-form-label{
        width: 100px;
        text-align: right;
        display: inline-block;
        font-size: 14px;
        color: #6f6c6c;
    }
}

//表格样式
.c-table-box{
    table{
        width: 100%;
        border-collapse:collapse;
        border-top:1px solid #ccc;
        border-left:1px solid #ccc;
        text-align: left;
        thead{
            font-size: 14px;
            background: #daebfd;
            th{
                font-weight: 500;
                padding: 8px;
                border-right:1px solid #ccc;
                border-bottom:1px solid #ccc;
            }
        }
        tbody{
            td{
                padding: 8px;
                border-right:1px solid #ccc;
                border-bottom:1px solid #ccc;
                color:#8c8989;
                font-size: 14px;
            }
        }
        .table-empty{
            text-align: center;
        }
    }
}